a{
	text-decoration: none;
}
div{
	display: block;
}
h1,h2,h3,h4,h5,h6,p,span,a,img,div,i,input,textarea,body,header,nav,ul,li,nav,header,.img-fluid{
	margin: 0;
	padding: 0;
}
.container-fluid{
	padding: 0;
}
.custom-container{
	padding: 0 30px;
}
.v-center{
	display: flex!important;
	align-items: center!important;
}
.w-center{
	display: flex!important;
	justify-content: center!important;
}
.vw-center{
	display: flex!important;
	align-items: center!important;
	justify-content: center!important;
}
.paddingy{
	padding: 7% 0;
}
.paddingy-sm{
	padding: 4% 0;
}
.textsm{
	font-size: 13px;
}

/*DISPLAY-NONE*/
@media screen and (max-width: 768px){
	.dp-md-none{
		display: none!important;
	}
	.dp-md-block{
		display: block!important;
	}
}
@media screen and (max-width: 576px){
	.dp-sm-none{
		display: none!important;
	}
	.dp-sm-block{
		display: block!important;
	}
}
@media screen and (max-width: 425px){
	.dp-xs-none{
		display: none!important;
	}
	.dp-xs-block{
		display: block!important;
	}
}

/*CLOSE-BTN*/
.box-btn{
	position: relative;
	width: 40px;
	height: 40px;
}
.box-btn .btn-nav::after{ 
	position: absolute;
	content: ' ';	
	width: 40px; 
	top: 10px; 
	border-radius: 5px; 
	background-color: black; 
	transition: all .5s;
	height: 5px;
	left: 0;
}
.box-btn .btn-nav::before{ 
	position: absolute; 
	content: ' ';
	width: 40px; 
	height: 5px;
	top: 25px;
	left: 0; 
	border-radius: 5px; 
	background-color: black;
	transition: all .5s;
}
.box-btn input{
	position: absolute;
	height: 40px;
	width: 40px; 
	margin: 0; 
	z-index: 9;
	opacity: 0;
	cursor: pointer;
}
.box-btn input:checked~.btn-nav::after{
 	transform: rotate(45deg) translate(0px, 11px);
}
.box-btn input:checked~.btn-nav::before{
 	transform: rotate(-45deg) translate(0px, -11px);
}

/*Box-gradiant*/
.btn-grad{       
	display: inline-block;
	outline: 0;
	border: 0;
	cursor: pointer;
	will-change: box-shadow,transform;
	background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
	box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 
				0px 7px 13px -3px rgb(45 35 66 / 30%), 
				inset 0px -3px 0px rgb(58 65 111 / 50%);
	padding: 0 32px;
	border-radius: 6px;
	color: #fff;
	height: 48px;
	font-size: 18px;
	text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
	transition: box-shadow 0.15s ease,transform 0.15s ease;
}
.btn-grad:hover {
	box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 
				0px 7px 13px -3px rgb(45 35 66 / 30%), 
				inset 0px -3px 0px #3c4fe0;
	transform: translateY(-2px);
}
.btn-grad:active{
	box-shadow: inset 0px 3px 7px #3c4fe0;
	transform: translateY(2px);
}


/*ZOOMING-IMAGE*/
.zoomimg{
	display: inline-block;
	overflow: hidden;
	position: relative;
	background-color: white;
	height: 100%;
	width: 100%;
}
.zoomimg img{
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    max-width: 100%;
    min-height: 100%;
}
.zoomimg img:hover{
	transform: scale(1.025,1.025) !important;
	-webkit-transform: scale(1.025,1.025);
	opacity: 0.5 !important;
}