a{
	text-decoration: none;
}
div{
	display: block;
}
h1,h2,h3,h4,h5,h6,p,span,a,img,div,i,input,textarea,body,header,nav,ul,li,nav,header,.img-fluid{
	margin: 0;
	padding: 0;
}
.container-fluid{
	padding: 0;
}
.custom-container{
	padding: 0 30px;
}
.v-center{
	display: flex!important;
	align-items: center!important;
}
.paddingy{
	padding: 7% 0;
}
.paddingy-sm{
	padding: 4% 0;
}
.textsm{
	font-size: 13px;
}